/MoveStore.Data.EF/obj/Debug/netstandard1.4/*.cache
/DatabaseMigration/bin/Debug
/DatabaseMigration/obj/Debug
/MoveStore.Data.Common/bin/Debug
/.vs/SyedMovieStoreApp/v15/*.suo
/.vs/config
/MoveStore.Data.Common/obj/Debug
/MoveStore.Data.EF/obj
/MoveStore.WebApi/bin/Debug
/MoveStore.WebApi/obj/Debug
/MovieStore.Data.Common/obj
/MovieStore.Data.EntityF/bin/Debug
/MovieStore.Data.EntityF/obj/Debug
/MovieStore.Data.EntityF/Migrations
/MovieStore.NotRealTest/bin/Debug
/MovieStore.NotRealTest/obj/Debug
/SyedMovieStoreApp/bin/Debug/net452/win7-x86/*.dll
/SyedMovieStoreApp/obj
/packages/EntityFramework.6.0.0/Content/*.transform
/packages/EntityFramework.6.0.0
/packages/EntityFramework.6.1.1/content
/packages/EntityFramework.6.1.1
/packages/EntityFramework.6.1.2/content
EntityFramework.6.1.2
content
EntityFramework.6.1.3
/SyedMovieStoreApp/bin
/packages
/.vs
/DatabaseMigration/bin
/DatabaseMigration/obj
/MoveStore.Data.Common/bin
/MoveStore.Data.Common/obj
/MoveStore.Data.EF/bin
/MoveStore.WebApi/bin
/MoveStore.WebApi/obj
/MovieStore.Data.Common/bin
/MovieStore.Data.EntityF/bin
/MovieStore.Data.EntityF/obj
/MovieStore.NotRealTest/bin
/MovieStore.NotRealTest/obj
/TestResults
